<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6">
                    <ngx-masonry>
                        <div class="">
                            <div ngxMasonryItem *ngFor="">
                                <img class="img" [src]="" alt="">
                                <div class="mb-3 info"></div>
                            </div>
                        </div>
                    </ngx-masonry>

                </div>
            </div>

        </div>
    </div>
</div>